*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(bp-medium) {
    font-size: 56.25%;
  }

  @include respond(bp-small) {
    font-size: 50%;
  }

  @include respond(bp-large) { 
    font-size: 75%;
  }
}

body {
  font-family: $font-primary;
  color: $color-font;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: $color-bg;
  width: 100%;
}

::selection {
  background-color: rgba($color-primary, 0.8);
  color: $color-font;
}
